/* Individual item */

.bm-item {
    display: inline-block;
    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.2s;
}

@media (min-width: 960px) {
    .bm-burger-button {
        display: none;
    }
    #grid-container {
        width: 250px;
        margin-right: 5rem;
    }
}

@media (min-width: 1400px) {
    #grid-container {
        width: 250px;
        margin-left: -3rem;
    }
}

@media (min-width: 1700px) {
    #grid-container {
        width: 250px;
    }
}

/* Change color on hover */

.bm-item:hover {
    color: rgb(255, 255, 255);
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */

.bm-burger-button {
    position: fixed;
    width: 40px;
    height: 25px;
    left: 22px;
    top: 32px;
}

/* Color/shape of burger icon bars */

.bm-burger-bars {
    background: #FF8C00;
}

/* Position and sizing of clickable cross button */

.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */

.bm-cross {
    background: #bdc3c7;
}

/* General sidebar styles */

.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */

.bm-item-list {
    color: #b8b7ad;
}

/* Styling of overlay */

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

#navItem {
    list-style: none;
    outline: none;
}

#navList a {
    text-decoration: none;
    color: whitesmoke;
    outline: none;
    font-size: 2rem;
}